.nav-item-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.nav-item-hover:hover .nav-item-text {
    visibility: visible;
    opacity: 1;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #d9b100;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #d9b100;
}

.nav-jump-top {
    width: 100%;
}

.nav-jump-top-title {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.nav-jump-top-tabs {
    padding-top: 20px !important;
}

.nav-jump-top-tabs .nav-item {
    padding-right: 20px;
}

.nav-jumptodate-link:hover {
    color: white;
}

.nav-jumptodate-link {
    color: white;
}
/*
#nav-jump-center {
    width:  100%;
}

#nav-jump-start {
    width:  100%;
}
*/
.modal-header {
    padding-bottom: 10px;
}


@media (min-width: 768px) {
    body {
        margin-left: 110px;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        width: 110px;
    }
}
@media (min-width: 768px) {
    .nav-brand-image {
        width: 100%;
    }
}

.jstree-default-dark {
    background: #303030
}

.jstree-default-dark .jstree-anchor {
    color: #ffffff;
}

.tree-icon-class {
    padding: 2px;
}

.card-header-actions {
    display: inline-block;
    float: right;
    margin-right: -0.25rem;
}

.card-header-action {
    cursor: pointer !important;
    padding: 0 0.25rem !important;
    color: var(--dark) !important;
}

.card-header-action:hover {
    color: var(--dark-grey) !important;
    text-decoration: none !important;
}

.vakata-context li>a {
    padding: 0em 2em 0em 0.5em !important;
    /* background-color: var(--gray-dark) !important; */
}

.vakata-context li>a .vakata-contextmenu-sep {
    padding-left: 5px !important;
    background: transparent !important;
    border-left: none !important;
}


.context-menu {
    background-color: #202020;
}



.context-menu-option, .context-menu-submenu, .context-menu-disabled {
    color:#dddddd;
}


.bg-primary {
    background-color: #444444 !important;
}

#importer-content-1 table{
    margin-bottom: 0rem;
}

#importer-content-1 {
    margin-bottom: 0px;
}

#importer-content-1 td {
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-1 input[type='checkbox'] {
    margin-top: -0.2rem;
}

#importer-content-2 {
    margin-bottom: 0px;
}

#importer-content-2 td {
    font-size: 14px;
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-3 {
    margin-bottom: 0px;
}

#importer-content-3 .form-group{
    margin-bottom: 0px;
}

#importer-content-3 td {
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-3 .form-control {
    padding: 0.5rem;
    vertical-align: middle;
    height: calc(1.5em + 0.75rem - 2px);
}

#importer-content-3 input[type='text'] {
    font-size: 14px;
}

#importer-content-3 .form-check-input {
    position: relative;
}