.nav-item-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.nav-item-hover:hover .nav-item-text {
    visibility: visible;
    opacity: 1;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #d9b100;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #d9b100;
}

.button-border {
    cursor: pointer
}

.nav-jump-top {
    width: 100%;
}

.nav-jump-top-title {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.nav-jump-top-tabs {
    padding-top: 20px !important;
}

.nav-jump-top-tabs .nav-item {
    padding-right: 20px;
}

.nav-jumptodate-link:hover {
    color: white;
}

.nav-jumptodate-link {
    color: white;
}
/*
#nav-jump-center {
    width:  100%;
}

#nav-jump-start {
    width:  100%;
}
*/

.file_upload_card .card-body {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.file_upload_card .card-body .filenameRow {
    text-transform: capitalize;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
}
.file_upload_card .card-header {
    display: flex;
    justify-content: space-between;
}
.file_upload_card .card-body .filenameRow div span {
    display: block;
}
.file_upload_card .card-body .filenameRow div {
    margin-right: 20px;
}
div#fileuploadCol {
    position: relative;
    overflow: hidden;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
}
#fileuploadRow {
    width: 100%;
}
#uploadStatusRow p {
    margin: 0;
}

#uploadStatusRow {
    display: inline-block;
    margin-right: 15px;
    padding: 0 !important;
}
div#fileuploadCol input#fileupload {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    z-index: 100;
}
.card.file_upload_card table input[type="checkbox"] {
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.card.file_upload_card table tr, .card.file_upload_card table td {
    padding: 15px;
    font-size: 16px;
    text-transform: capitalize;
}
.card.file_upload_card table {
    margin: 0;
}
.card.file_upload_card table thead {
    background: #545454;
    font-weight: 800;
    color: #fff;
}

.modal_table .modal-body {
    padding: 0;
}
.modal_table .modal-body table {
    margin: 0;
}
.modal_table .modal-body table tr, .modal_table .modal-body table td {
    padding: 15px;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    vertical-align: inherit;
}
.modal_table .modal-body table thead {
    background: #545454;
    font-weight: 800;
    color: #fff;
    width: 100%;
    display: block;
}
.modal_table .modal-body table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.modal_table .modal-body table td {
    width: 33.3%;
    text-align: center;
}
.modal_table .modal-body table thead th:first-child, .modal_table .modal-body table td:first-child {
    text-align: left !important;
}
.modal_table .modal-body table .form-control {
    max-width: 230px;
    width: 100% !important;
    border-radius: 3px;
    background: transparent;
    border: 1px solid #747474;
    color: #fff;
    font-size: 16px;
    display: inline-flex;
    text-transform: none;
}
.modal_table .modal-body table .form-control.color-control {
    padding: 0;
    border: none;
    border-radius: 0;
    max-width: 100%;
    width: 60px !important;
    height: 40px;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
    display: inline-flex;
}
.modal_table .modal-body table thead th {
    text-align: left !important;
    width: 33.3%;
    text-align: center !important;
    border: none;
}
tbody#label-table-body {
    max-height: 65vh;
    overflow-y: auto;
    display: block;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal_table .modal-body {
    padding: 0;
    /* max-height: 80vh;
    overflow-y: scroll; */
}

.modal_table .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_table .modal-footer button.btn.btn-dark {
    background: #d9b100;
    border-color: #d9b100;
    color: #fff;
}


.modal-header {
    padding-bottom: 10px;
}

div#label-editor-modal {
    max-width: 900px;
}

@media (min-width: 768px) {
    body {
        margin-left: 110px;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        width: 110px;
    }
}
@media (min-width: 768px) {
    .nav-brand-image {
        width: 100%;
    }
}

.jstree-default-dark {
    background: #303030
}

.jstree-default-dark .jstree-anchor {
    color: #ffffff;
}

.tree-icon-class {
    padding: 2px;
}

.card-header-actions {
    display: inline-block;
    float: right;
    margin-right: -0.25rem;
}

.card-header-action {
    cursor: pointer !important;
    padding: 0 0.25rem !important;
    color: var(--dark) !important;
}

.card-header-action:hover {
    color: var(--dark-grey) !important;
    text-decoration: none !important;
}

.vakata-context li>a {
    padding: 0em 2em 0em 0.5em !important;
    /* background-color: var(--gray-dark) !important; */
}

.vakata-context li>a .vakata-contextmenu-sep {
    padding-left: 5px !important;
    background: transparent !important;
    border-left: none !important;
}


.context-menu {
    background-color: #202020;
}



.context-menu-option, .context-menu-submenu, .context-menu-disabled {
    color:#dddddd;
}


.bg-primary {
    background-color: #444444 !important;
}

#importer-content-1 table{
    margin-bottom: 0rem;
}

#importer-content-1 {
    margin-bottom: 0px;
}

#importer-content-1 td {
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-1 input[type='checkbox'] {
    margin-top: -0.2rem;
}

#importer-content-2 {
    margin-bottom: 0px;
}

#importer-content-2 td {
    font-size: 14px;
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-3 {
    margin-bottom: 0px;
}

#importer-content-3 .form-group{
    margin-bottom: 0px;
}

#importer-content-3 td {
    padding: 0.5rem;
    vertical-align: middle;
}

#importer-content-3 .form-control {
    padding: 0.5rem;
    vertical-align: middle;
    height: calc(1.5em + 0.75rem - 2px);
}

#importer-content-3 input[type='text'] {
    font-size: 14px;
}

#importer-content-3 .form-check-input {
    position: relative;
}